.waterbody {
/**	background:#CCCCCC; **/
	margin:0;
}

table#navigation {
  margin-left: 15pt;
  background-color:#FAEBD7;
  font-family: arial, 'sans serif';
}

.navlink
{
	color: #000000;
	text-decoration: none;
}

.navlink_selected
{
	color: #000000;
	text-decoration: none;
  background-color:#CCFFCC;
}

.navlink_prev_next
{
	color: #0000FF;
	text-decoration: none;
}

td.content {
	background:#FFFFFF;
}

#left {
  width: 150px;
  background-color: transparent;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 1.0em;
}

#leftcell{
width: 200px;
}

ul#leftmenu {
list-style: none;
margin: 0;
padding: 0;
}

ul#leftmenu li {
margin: 0;
}

ul#leftmenu li a {
display: block;
padding: 5px 5px 5px 15px;
background-color: #D5DAE2;
color: #000099;
text-decoration: none;
width: 100%;
font-size: 0.9em;
border-top: 1px solid white;
border-bottom: 1px solid Steelblue;
text-align:left;
}

ul#leftmenu li a:hover {
background-color: #B1BDC9;
color: Yellow;
}
ul#leftmenu li a:active {
background-color: white;
color: black;
}

/** notification item layout: **/

table.notification {
/**  width: 600px; **/
  width: 80%;
/**  table-layout: fixed;  -> not good, since text may get out of the table! **/
}

.nopad {
  padding: 0;
  margin: 0;
}

.headercell {
  background: #43464e;
  color: #CCFFFF; /** CCFF33 **/
}

/** code below copied from MAMBO! **/

/** unordered list top menu **/
ul#mainlevel-nav
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

/** unordered list item for top menu **/
ul#mainlevel-nav li
{
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
	margin: 0;
	width: auto !important;
/**	width: 100px; **/
	font-size: 11px;
	line-height: 23px;
	white-space: nowrap;
}

/** unordered list item link for top menu **/
ul#mainlevel-nav li a
{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight:bold;
}

ul#mainlevel-nav li a:hover {
	background: #535353;
	text-decoration:none;
}

/** div container for top menu. position:top **/
#topmenu {
	position:relative;
	float:left;
	clear:left;
	background-color:#000000;
	width: 100%;
}

a,
a:link,
a:active,
a:visited {
	text-decoration:none;
	color:#000000;
}

a:hover {
	text-decoration:underline;
	color:#3973AC;
}

