<?xml version="1.0" encoding="UTF-8"?><config>
  <account>
    <serveraddress>taspringmaster.clan-sy.com</serveraddress>
    <serverport>8200</serverport>
    <username>test</username>
    <password>CY9rzUYh03PK3k6DJie09g==</password>
  </account>

  <remoteaccessaccounts>
    <account key="test:pass"/>
  </remoteaccessaccounts>

  <channels>
    <static>
      <channel name="test1"/>
      <channel name="test2"/>
      <channel name="hopla"/>
    </static>
    <registered>
      <channel founder="" key="" name="test3" topic="-test-">
        <operator name="Betalord"/>
        <operator name="test"/>
        <operator name="test2"/>
        <operator name="test3"/>
      </channel>
      <channel founder="" key="" name="test4" topic="-test-">
        <operator name="Betalord"/>
        <operator name="test"/>
        <operator name="test2"/>
        <operator name="test3"/>
      </channel>
    </registered>
  </channels>

</config>